FILECRT=./src/certs/Servicios Informáticos Bragado_f24bb9beb59fe21.crt
FILEKEY=./src/certs/clave.key
DATABASE_URL=postgresql://user:password@localhost:5432/facturar
JWT_SECRET=cambiar-este-valor-por-uno-seguro
PORT=3008
